 html,
 body {
   position: absolute;
   height: 100%;

 }

 .swiper {
   width: 100%;
 height: 100%;
 }

 .swiper-slide {
     position: absolute;
   width: 1376px;
   height: 71%;
   text-align: center;
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .swiper-slide img {
   display: block;
   width: 900px;
   position: relative;
   z-index: 1;
   margin-top: 110px;
   margin-left: 123px;
   height: 70vh;

 }

            